<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>ADMIN PAGE</h1>

<p>Burayı admin kullanıcıları kullanacak</p>

<p>Authentication yapısı aşağıdaki gibidir</p>

<p>
    </br>auth.inMemoryAuthentication()
        </br>&emsp;.withUser("seruvent").password(passwordEncoder.encode("seruvent")).roles("ADMIN")
        </br>&emsp;.and()
        </br>&emsp;.withUser("guppy").password(passwordEncoder.encode("guppy")).roles("USER");
</p>

</body>
</html>